<!DOCTYPE html>
<html lang="en" dir="ltr">
  <div class="container">
    <head>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
      <style>
      .footer {
      text-align: center;
      width: 100%;
      }
      .f1 {
      padding: 0;
      margin: 0;
      }
      .f1,
      .f2,
      .f3 {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      text-align: right;
      font-size: 14px;
      padding: 0 8%;
      min-width: 300px;
      width: 33%;
      }
      .f1 {
      text-align: left;
      }
      .designer {
        color: #333;
      }

      ul {
        list-style-type: none;
      }

      .notLink {
        color: #333;
      }

      .notLink:hover {
        text-decoration: none;
        color: #333;
      } 

      .name {
        color: #333;
        font-weight: bold;
      }


      </style>
    </head>
    <body>
      
       <div class="container">

       <hr style="border: 1px solid black; opacity: 30%;">

        <footer>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="social-network">
                        <li>Contact Us : <a href="https://www.linkedin.com/in/jacekstypulkowski/" target="_blank" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <p>Rockmechanics &copy; All Rights Reserved.</p>
                </div>
                <div class="col-sm-4">
                     <a class="notLink">Designed By:</a> <a class="name" href="https://www.linkedin.com/in/adhish-sharma-147318158/">Adhish Sharma</a>
                </div>
            </div>
        </footer>

    </div>
    </div>
  </body>
 