<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("partials/header"); -%>

<link rel="stylesheet" type="text/css" href="CSS/compose.css">

<div class="heading"><h4 class="title"> Compose </h4></div>

<div style="padding: 20px; font-size: 15px;">
<form action="/compose" method="post">
<div class="form-group">
<label>Day and date</label>
<input type="text" name="date" class="form-control">	
<label>Title</label>
<input type="text" name="postTitle" class="form-control">
<label>Post</label>
<textarea name="postBody" cols="40" rows="5" class="form-control"></textarea>
<label>Image</label>
<input type="text" name="imgurl" class="form-control" placeholder="Enter Image URL">
</div>
<button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>
</div>


<script src="/scripts/compose.js"></script>