<!DOCTYPE html>
<html>
<%- include("partials/header") -%>


<div class="slideshow-container">

<div class="mySlides fade" style="opacity: 1;">
  <img class="carousel-img" src="Images/carousel1.JPG">
</div>

<div class="mySlides fade" style="opacity: 1;">
  <img class="carousel-img" src="Images/carousel3.JPG">
</div>

<div class="mySlides fade" style="opacity: 1;">
  <img class="carousel-img" src="Images/carousel4.jpg">
</div>

<div class="mySlides fade" style="opacity: 1;">
  <img class="carousel-img" src="Images/carousel5.jpg">
</div>

</div>

<section class="white-section">
	<div class="main-content">
		<p class="about-para" style="font-size: 90%;"><img class="img" src="/Images/my-picture.JPG" alt="photograph">“Dr. Stypulkowski has more than 30 years of experience in the design and construction management of underground facilities for a wide-range of infrastructure projects, including transportation, water and wastewater projects. His responsibilities have covered construction management, planning, investigation and design with a focus on the analysis of soil and rock conditions, as well as ground water management of underground facilities. He has extensive experience in management of design, report preparation, leading staff engineers in the preparation of contract drawings and specifications, as well as providing support during construction. He provided technical overview of subway system expansion. He is the author of numerous papers on geotechnical conditions and tunnel construction. Dr. Stypulkowski prepared GDRs, GBRs, contract documents, specifications and managed design and geotechnical investigations.  Dr. Stypulkowski specialty is probabilistic determination of input parameters for numerical analysis He was one of the first users of Phases, FEM software developed specifically for rock mass, Unwedge and other software by Rocscience www.rocscience.com . He is co-author of Manual on Guidelines for Geotechnical Investigations, recommended changes as well as Master Specifications and Design Standards.”</p>
	</div>
</section>
<section class="blue-section">
	<div class="w3-container">
		<h2 class="expertise">Areas of Expertise</h2>
		<hr>
		<ul class="expertise-list">
			<li>Construction Management</li><br>
			<li>Contract Documents Preparation & Review</li><br>
			<li>Management of Design of Underground Facilities</li><br>
			<li>Management of Geotechnical Investigations</li><br>
			<li>Proposal Generation</li><br>
			<li>GBR/GDR Preparation & Review</li><br>
			<li>Rock Mass Modeling</li>
			<li>Comprehensive Tunnel Analysis and Design</li><br>
			<li>Specification Preparation</li><br>
			<li>Geo Mechanical Analysis</li><br>
			<li>Numerical Analysis</li><br>
			<li>Probabilistic Determination of Input Parameters<br>&nbsp;&nbsp;&nbsp;&nbsp;for Numerical Analysis</li><br>
			<li>Q / RMR-system ratings</li><br>
		</ul>
	</div>
</section>

</div>

<script src="/scripts/index.js"></script>
</body>
</html>