<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") -%>

<body>
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill"><img class="img-fluid carousel-img" src="Images/carousel1.JPG"></div>
            </div>
            <div class="item">
                <div class="fill"><img class="img-fluid carousel-img" src="Images/carousel3.JPG"></div>
            </div>
            <div class="item">
                <div class="fill"><img class="img-fluid carousel-img" src="Images/carousel4.jpg"></div>
            </div>
             <div class="item">
                <div class="fill"><img class="img-fluid carousel-img" src="Images/carousel5.jpg"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive" src="/Images/my-picture.jpg">
			</div>
			<div class="col-md-6">
				<h2 style="padding: 1%;">Welcome to RockMechanics!</h2>
				<p>“Dr. Jacek B Stypulkowski is an accomplished geo-engineering professional specializing in tunneling, geo-mechanical design, management of design and construction, project management, constructability analysis, and construction support. Record of accomplishment in leading international multimillion-dollar civil engineering projects and bringing diverse teams through complex multiyear projects requiring the ability to communicate with local, state, and national governments. Highly effective at defining and solving strategic and tactical business and engineering challenges using strong problem solving and analytical skills. Skilled in developing, mentoring, and building high-performance matrix teams.”</p>
				<p>Beginning his career mainly in the private sector continued working for leading international companies on four continents. He is an expert in tunneling defining and solving engineering challenges using strong problem solving and analytical skills. Due to his experience he joined leading European based consultant as a Chief Tunnel Design Engineer and managed design team both in the office and in the field. Currently consulting internationally and residing overseas.</p>
				<p>Dr. Stypulkowski holds a doctorate from Wroclaw University of Technology and masters in Soil Mechanics from McMaster University.</p>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
    <!-- /.section -->

    <!-- /.section -->

    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2 class="listHead">Strengths & Competencies</h2>
                    <ul class="listStyle">
                        <li>Geotechnical Engineering</li>
                        <li>Tunneling</li>
                        <li>Construction</li>
                        <li>Civil Engineering</li>
                        <li>Geotechnical Investigations</li>
                        <li>Rock Mechanics</li>
                        <li>Site Investigation</li>
                        <li>Geological Mapping|</li>
                        <li>Design Management</li>
                        <li>Structural Engineering</li>
                        <li>Tunnels</li>
                        <li>Bridges</li>
                        <li>Roads</li>
                        <li>Rail Lines</li>
                        <li>Slope Stability</li>
                         <li>Soil</li>
                        <li>Retaining Walls</li>
                         <li>Dams</li>
                        <li>Earthquake Engineering</li>
                         <li>Metro & Subway Lines</li>
                        <li>Commuter Rail</li>
                         <li>Water Tunnels</li>
                        <li>Waste Water Tunnels</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="Images/projects/leadership.jpg">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img class="img-responsive" src="Images/projects/lastone.JPG">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h2 class="listHead">Leadership</h2>
				<ul>
					<li>Construction Management</li>
					<li>Project Management</li>
					<li>Management of Geotechnical Investigations</li>
					<li>Management of Design of Underground Facilities</li>
					<li>Proposal Generation</li>
					<li>Specification Preparation</li>
					<li>Contract Documents Preparation & Review Technical Acumen</li>
					<li>Comprehensive Tunnel Analysis and Design</li>
					<li>Probabilistic Determination of Input Parameters for Numerical Analysis</li>
					<li>GIR/GBR/GDR Preparation & Review</li>
					<li>Q/RMR-system ratings | Rock Mass Modeling</li>
				</ul>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- /.section -->

    <!-- JavaScript -->
    <script src="scripts/jquery-1.10.2.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/modern-business.js"></script>

</body>

</html>

<%- include("partials/footer"); -%>





















<!-- <!DOCTYPE html>
<html>
	
	<div class="slideshow-container">
		<div class="mySlides fade" style="opacity: 1;">
			<img class="carousel-img" src="Images/carousel1.JPG">
		</div>
		<div class="mySlides fade" style="opacity: 1;">
			<img class="carousel-img" src="Images/carousel3.JPG">
		</div>
		<div class="mySlides fade" style="opacity: 1;">
			<img class="carousel-img" src="Images/carousel4.jpg">
		</div>
		<div class="mySlides fade" style="opacity: 1;">
			<img class="carousel-img" src="Images/carousel5.jpg">
		</div>
	</div>
	<div class="main-content">
		<div class="container">
			<div style="padding: 60px 10px 10px 0px;" class="row">
				<div class="col-md-6"><p class="about-para" style="font-size: 90%;"><img class="img" src="/Images/my-picture.JPG" alt="photograph"></div>
				<div class="col-md-6">“Dr. Jacek B Stypulkowski is an accomplished geo-engineering professional specializing in tunneling, geo-mechanical design, management of design and construction, project management, constructability analysis, and construction support. Record of accomplishment in leading international multimillion-dollar civil engineering projects and bringing diverse teams through complex multiyear projects requiring the ability to communicate with local, state, and national governments. Highly effective at defining and solving strategic and tactical business and engineering challenges using strong problem solving and analytical skills. Skilled in developing, mentoring, and building high-performance matrix teams.
					Beginning his career mainly in the private sector continued working for leading international companies on four continents. He is an expert in tunneling defining and solving engineering challenges using strong problem solving and analytical skills. Due to his experience he joined leading European based consultant as a Chief Tunnel Design Engineer and managed design team both in the office and in the field. Currently consulting internationally and residing overseas.
				<br>Dr. Stypulkowski holds a doctorate from Wroclaw University of Technology and masters in Soil Mechanics from McMaster University.”</p></div>
			</div>
		</div>
	</div>
	
	<div class="container blue-section">
		<div class="row">
			<div class="col-md-6">
				<h2 class="expertise">Strengths & Competencies</h2>
				<hr>
				<ul class="expertise-list">
					<li>Geotechnical Engineering | Tunneling |Construction | Civil Engineering &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Geotechnical Investigations | Rock Mechanics</li>
					<li>Site Investigation | Geological Mapping| Design Management  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Structural Engineering | Concrete | Highways</li>
					<li>Tunnels | Bridges | Roads | Rail Lines | Slope Stability | Soil &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Retaining Walls | Dams | Earthquake Engineering</li>
					<li>Metro & Subway Lines | Commuter Rail | Water Tunnels &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| Waste Water Tunnels</li>
				</ul>
			</div>
			<div class = "vertical"></div>
			<div class="col-md-6">
				<h2 class="expertise">Leadership</h2>
				<hr>
				<ul class="expertise-list">
					<li>Construction Management | Project Management</li>
					<li>Management of Geotechnical Investigations</li>
					<li>Management of Design of Underground Facilities</li>
					<li>Proposal Generation | Specification Preparation</li>
					<li>Comprehensive Tunnel Analysis and Design</li>
					<li>Probabilistic Determination of Input Parameters for Numerical Analysis</li>
					<li>GIR/GBR/GDR Preparation & Review</li>
					<li>Q/RMR-system ratings | Rock Mass Modeling</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="/scripts/index.js"></script>
</body>
</html>
