<!DOCTYPE html>
<html>
	<%- include("partials/header") -%>
	<div class="slideshow-container">
		<div class="mySlides fade" style="opacity: 1;">
			<img class="carousel-img" src="Images/carousel1.JPG">
		</div>
		<div class="mySlides fade" style="opacity: 1;">
			<img class="carousel-img" src="Images/carousel3.JPG">
		</div>
		<div class="mySlides fade" style="opacity: 1;">
			<img class="carousel-img" src="Images/carousel4.jpg">
		</div>
		<div class="mySlides fade" style="opacity: 1;">
			<img class="carousel-img" src="Images/carousel5.jpg">
		</div>
	</div>
	<div class="main-content">
		<div class="container">
			<div style="padding: 60px 10px 10px 0px;" class="row">
				<div class="col-4"><p class="about-para" style="font-size: 90%;"><img class="img" src="/Images/my-picture.JPG" alt="photograph"></div>
				<div class="col-8">“Dr. Jacek B Stypulkowski is an accomplished geo-engineering professional specializing in tunneling, geo-mechanical design, management of design and construction, project management, constructability analysis, and construction support. Record of accomplishment in leading international multimillion-dollar civil engineering projects and bringing diverse teams through complex multiyear projects requiring the ability to communicate with local, state, and national governments. Highly effective at defining and solving strategic and tactical business and engineering challenges using strong problem solving and analytical skills. Skilled in developing, mentoring, and building high-performance matrix teams.
					Beginning his career mainly in the private sector continued working for leading international companies on four continents. He is an expert in tunneling defining and solving engineering challenges using strong problem solving and analytical skills. Due to his experience he joined leading European based consultant as a Chief Tunnel Design Engineer and managed design team both in the office and in the field. Currently consulting internationally and residing overseas.
				<br>Dr. Stypulkowski holds a doctorate from Wroclaw University of Technology and masters in Soil Mechanics from McMaster University.”</p></div>
			</div>
		</div>
	</div>
	
	<div class="container blue-section">
		<div class="row">
			<div class="col">
				<h2 class="expertise">Strengths & Competencies</h2>
				<hr>
				<ul class="expertise-list">
					<li>Geotechnical Engineering | Tunneling |Construction | Civil Engineering &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Geotechnical Investigations | Rock Mechanics</li><br>
					<li>Site Investigation | Geological Mapping| Design Management &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Structural Engineering | Concrete | Highways</li><br>
					<li>Tunnels | Bridges | Roads | Rail Lines | Slope Stability | Soil &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Retaining Walls | Dams | Earthquake Engineering</li><br>
					<li>Metro & Subway Lines | Commuter Rail | Water Tunnels &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Waste Water Tunnels</li><br>
				</ul>
			</div>
			<div class = "vertical"></div>
			<div class="col">
				<h2 class="expertise">Leadership</h2>
				<hr>
				<ul class="expertise-list">
					<li>Construction Management | Project Management</li><br>
					<li>Management of Geotechnical Investigations</li><br>
					<li>Management of Design of Underground Facilities</li><br>
					<li>Proposal Generation | Specification Preparation</li><br>
					<li>Comprehensive Tunnel Analysis and Design</li><br>
					<li>Probabilistic Determination of Input Parameters for Numerical Analysis</li><br>
					<li>GIR/GBR/GDR Preparation & Review</li><br>
					<li>Q/RMR-system ratings | Rock Mass Modeling</li><br>
				</ul>
			</div>
		</div>
	</div>
	<script src="/scripts/index.js"></script>
</body>
</html>
<%- include("partials/footer"); -%>