<!DOCTYPE html>
<html lang="en" dir="ltr">
	<%- include("partials/header"); -%>
	<!-- <a href="https://icons8.com/icon/10053/calendar">Calendar icon by Icons8</a> -->
	<h2> <%= title %> </h2> <br>
	<img style="float:left; padding-right: 10px;" src="https://img.icons8.com/ios-filled/20/000000/calendar.png">
	<p> <%= date %> </p> <br>
	<img style="width: 888px; height: 500px; margin-left: 11%;">><br><br>
	<p style="font-size: medium;"> <%= content %> </p>
	<br><br>