<!DOCTYPE html>
<html>

<%- include("partials/header") -%>

<link rel="stylesheet" type="text/css" href="/CSS/projects.css">

<div class="heading"><h4 class="title"> Company Projects </h4></div>

<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

  <!--Controls-->
  <!-- <div class="controls-top">
    <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
    <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
  </div> -->

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/conrail.JPG"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/eastside.JPG"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/owenfalls.JPG"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/summit.JPG"
            alt="Card image cap">
        </div>
      </div>

    </div>
    
    <div class="carousel-item">

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/rtep.JPG"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/magpiedam.JPG"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/bingley.JPG"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/southferry.JPG"
            alt="Card image cap">
        </div>
      </div>

    </div>
    
    <div class="carousel-item">

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/harlem.JPG"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/harlemriver.JPG"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/crossharbor.JPG"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="Images/projects/greenwood.JPG"
            alt="Card image cap">
        </div>
      </div>

    </div>

  </div>

</div>

<div class="container">
<ul class="list-group list-group-horizontal projects-list" align="center">
  <li class="list-group-item list"><a class="list" href="#" rel="p1">Tunnels - Transportation </a></li>
  <li class="list-group-item list"><a class="list" href="#" rel="p2">Tunnels - Water</a></li>
  <li class="list-group-item list"><a class="list" href="#" rel="p3">Tunnels – Utility/Utilidor</a></li>
  <li class="list-group-item list"><a class="list" href="#" rel="p4">Shafts</a></li>
  <li class="list-group-item list"><a class="list" href="#" rel="p5">HDD/Micro-Tunneling</a></li>
  <li class="list-group-item list"><a class="list" href="#" rel="p6">Dams</a></li>
</ul>
</div>
  <div class="content">
  <div id="p1" class="box">
  <a class="typehead" name="tunnels.transportation"><strong>Tunnels - Transportation </strong></a>
  <div class="row">

  <div class="column">
    <div class="div">
      <h5>Evergreen Line Rapid Transit Project Vancouver, BC</h5>
      <a target="_blank" class="link" href="http://www.evergreenline.gov.bc.ca/">View Website</a>
      <p class="project">RFP Level design of approximately 11 km (6.8 miles) advanced light rapid transit (ALRT) line that connects Coquitlam to Vancouver via Port Moody and Burnaby. It consists of elevated and at-grade guideway with 6 new stations and an approximately 2-kilometer-long (1.2 miles) bored tunnel 6 m (20 ft) excavation diameter.</p>    
    </div>
  </div>

   <div class="column">
    <div class="div"> 
      <h5>The Second Avenue Subway Project New York, NY</h5>
      <a target="_blank" class="link" href="http://web.mta.info/capital/phase2_about_sas.html">View Website</a>
      <p class="project">The Project consisted of 8.5 miles of tunnels (13.6 km) and 16 new stations including 86th Street Station.</p>  
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h5>No. 7 Line Extension New York, NY</h5>
       <a target="_blank" class="link" href=" http://web.mta.info/capital/no7_alt.html">View Website</a>
      <p class="project">The Project consisted of 10,000 ft of tunnels (3 km) and 3 new stations, 34th street station and auxiliary structures including Vent Plant Site "L"</p>
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h5>Rosslyn Central Place Arlington, VA</h5>
      <a target="_blank" class="link" href="http://www.centralplace.com/">View Website</a>
      <p class="project">The project involved the demolition of a 10-story building, excavation of a third basement level into rock, and construction of a 24-story building with the edge of the building directly above the edge of the WMATA station.</p>       
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h5>Con Rail Bergen Hill Tunnel Kearny, NJ</h5>
      <p class="project">Clearance in the tunnels was increased from about 19’-4” to 20’-6” to facilitate double stack containers on the route. The 4,175 ft (1272m) Bergen Hill Tunnel is primarily a mined rock tunnel constructed circa 1860. Approximately 20 percent of this horseshoe shaped tunnel was lined with brick and concrete.</p>
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h5>South Ferry Terminal Structural Box, New York, NY</h5>
      <a target="_blank" class="link" href=" https://www.enr.com/articles/20187-south-ferry-terminal-new-york-n-y">View Website</a>
      <p class="project">The reconstruction of the South Ferry Terminal resulted in the relocation of the station platform and mezzanine to a new location underneath Peter Minuit Plaza and State Street in Lower Manhattan, adjacent to Battery Park and the Staten Island Ferry Terminal. The project entailed constructing a new subway station within a tunnel extending beneath three active existing NYCT subway tunnels which require underpinning and rail/invert replacement.</p>       
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h5>Cross Harbor Freight Movement Project, New York, NY</h5>
      <a target="_blank" class="link" href="https://www.panynj.gov/port/cross-harbor.html">View Website</a>
      <p class="project">Environmental Impact Statement report was prepared, comprising of the engineering and environmental feasibility study of constructing a rail freight tunnel across the New York Harbor to connect Staten Island, NY or Jersey City, NJ to Brooklyn, NY. TBM and sunken tube options were considered.</p>
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h5>East Side Access, New York, NY</h5>
      <a target="_blank" class="link" href="http://web.mta.info/capital/esa_alt.html">View Website</a>
      <p class="project">The project involved the rail connection from Long Island through existing 63rd Street tunnel build in 1970-ties beneath the East River (sunken tube). Train will travel in the new tunnel between Second Avenue and under Park Avenue, beneath existing Metro-North Railroad tracks terminating at new LIRR station under the lower level of Grand Central Station. The underground works were in hard rock in the west and soft ground in the east.</p>       
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h5>Greenwood Yard Expansion Program, Toronto, Ontario</h5>
      <p class="project">The program comprised addition of tracks, service and personnel facilities and modification to existing facilities located on the former sanitary landfill. The Greenwood Yard Carhouse is an essential subway maintenance facility, which operates 24 hours per day </p>
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h5>Rapid Transit Expansion Program (RTEP), Toronto, Ontario</h5>
      <p class="project">The overall program consisted of a number of fixed facilities, including stations, tunnels, cut and cover running structures, yards and shops constructed in the glacial deposits. There were four extensions planned with a total length of 18.7 km (11.6 miles):  Eglinton West, Sheppard Subway, Spadina York University Extension and Scarborough RT Extension. Only Sheppard Subway was constructed at that time using Lovat EPB TBM - Earth Pressure Balance - Tunnel Boring Machine, followed immediately by lining with precast concrete tunnel liners.</p>
    </div>
  </div>
 </div>
</div>
  
<div id="p2" class="box">
  <a class="typehead" name="tunnels.water"><strong>Tunnels - Water</strong></a>
<div class="row">

  <div class="column">
    <div class="div">
      <h5>Abu Hamour (Musaimeer) Surface & Ground Water Drainage Tunnel, Phase I , Doha Qatar</h5>
      <p class="project">Design, construction and commissioning of 9.5 km, 3.7 m ID, TBM mined tunnel and 23 shafts. Most of the shafts are offline therefore requiring the construction of 18 adits up to 4 m (13 ft) long and application of sequential excavation tunneling methods (SEM/NATM). The tunnel is supported by unbolted/doweled steel fiber reinforced concrete segmental lining. </p>
    </div>
  </div>

   <div class="column">
    <div class="div">
      <h5>West Area CSO Storage Tunnel Facilities, Atlanta, GA</h5>
      <a target="_blank" class="link" href="http://www.cleanwateratlanta.org/Documents/factsheets/west_area_CSO_fact_sheet.pdf">View Website</a>
      <p class="project">About 50,000 feet (15.2km) of 27 (8.2m) to 30 ft (9.1m) diameter storage and conveyance tunnels were bored at depths up to 150 (45m) to 300 feet (90m) below ground surface in hard rock. Four shafts 40 ft (12m) in diameter, one overflow shaft, three open cut intake structures (vortex shafts) and pump station were also constructed.</p>     
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h5>Eastern Transmission Reinforcement Phase 2, South Bound Brook, NJ</h5>
      <a target="_blank" class="link" href="http://www.bradshawcc.com/projects/87/view/">View Website</a>
      <p class="project">The extension of a 72-inch (1.8m) transmission main from South Bound Brook to Middlesex Borough was installed in a 1,200-foot (365m) 8.5-foot (2.5m) diameter tunnel was constructed using Lovat TBM with the drive occurring in water bearing contaminated ground to carry the transmission main and will cross beneath the D&R Canal, the D&R State Park and the Raritan River.  Two shafts 34-foot (10.4m) and 16-foot (4.9m) were constructed using mechanical methods and blasting to facilitate access to the tunnel.</p>
    </div>
  </div>

    <div class="column">
    <div class="div">
      <h5>Moshulu Croton Water Treatment Plant, New York, NY</h5>
       <a target="_blank" class="link" href="https://www.nytimes.com/2015/05/09/nyregion/croton-water-is-once-again-flowing-to-new-york.html">View Website</a>
      <p class="project">The project involved the raw water to be withdrawn from the existing 12.25-foot (3.7m) diameter pressurized section of the New Croton Aqueduct by a new tunnel containing a minimum conduit size of 12 feet (3.6m) in diameter.  On the discharge side, two new conduits were planned to transmit low level (9-foot/2.7m diameter) and high level (8-foot/2.4m diameter pumped) finished water to low level and high-level distribution.</p>     
    </div>
  </div>

     <div class="column">
    <div class="div">
      <h5>Adam Beck III, Niagara Falls, Ontario</h5>
       <a target="_blank" class="link" href="https://www.power-technology.com/projects/sir-adam-beck-hydroelectric-power-complex-niagara-falls/">View Website</a>
      <p class="project">The project involved the design of the precast tunnel liner 12.5 m (41 ft) ID in swelling rock using deformable grout.</p>    
    </div>
  </div>

     <div class="column">
    <div class="div">
      <h5>Mill Creek Interceptor Tunnels, Cleveland, Ohio</h5>
       <a target="_blank" class="link" href="http://www.southlandholdings.com/services/mill-creek-interceptor-tunnel/">View Website</a>
      <p class="project">The project involved construction of 24 feet (7.3m) diameter tunnels and ten shafts including ground freezing as an excavation support system for two shafts up to 145 feet deep (44m).</p>  
    </div>
  </div>

      <div class="column">
    <div class="div">
      <h5>Niagara River Hydroelectric Development Exploratory Adit, Niagara Falls, Ontario</h5>
      <p class="project">Project comprised of two 12.4 m (41 ft) ID concrete-lined diversion tunnels, each about 10 km (6.2 miles) long, and an underground powerhouse complex with 26 m (65 ft) wide powerhouse with installed capacity of 600 MW. The exploratory audit was constructed to assess the rock mass properties and time-dependent behavior of squeezing and swelling mudstones and shales.</p>
    </div>
  </div>

   <div class="column">
    <div class="div">
      <h5>Summit Pumped Storage Energy Project, Akron, Ohio</h5>
      <p class="project">Project comprised surface and large underground reservoirs using an existing limestone mine to generate 1500 MW of power. Field investigations involved drilling in the mine located 670-m (2,200 ft) underground to determine rock mass properties, in situ stress measurements and grout takes</p>
    </div>
  </div>

     <div class="column">
    <div class="div">
      <h5>Karun III Hydroelectric Development Project, Iran</h5>
      <a target="_blank" class="link" href="https://www.canadianconsultingengineer.com/features/karun-iii-hydroelectric-development/">View Website</a>
      <p class="project">Karun III comprised a 180 m (560 ft) high multiple arch dam and a large underground powerhouse 244 m (600 ft) long (powerhouse 25 m (82 ft) wide, transformer galleries 21 m (69 ft) wide, inlet valve 10 m/33 ft wide) in karstic limestone.</p>      
    </div>
  </div>

     <div class="column">
    <div class="div">
      <h5>Keele Trunk Relief Sewer, Toronto, Ontario</h5>
      <p class="project">Project comprised the design of 4,4 km (2.7 miles) long, 6 m (20 ft) diameter storm overflow sewer in squeezing and swelling shales and four 8 m (26 ft) diameter vertical shafts through overburden glacial till deposits up to 70 m (230 ft) deep.</p>
    </div>
  </div>

    <div class="column">
    <div class="div">
      <h5>Bingley Road Tunnel Project, Scarborough, Ontario</h5>
      <p class="project">Project comprised a construction of water tunnel in soil using ribs and lagging as support followed by cast in place concrete.</p>
    </div>
  </div>

</div>   
</div>

  
  <div id="p3" class="box">
  <a class="typehead" name="tunnels.utility"><strong>Tunnels – Utility/Utilidor</strong></a>
  <div class="row">

  <div class="column">
    <div class="div">
      <h5>Harlem River Tunnel near Broadway Bridge – M-29 Feeder New York, NY</h5>
      <p class="project">Utilidor approximately 700 feet (213m) of 13 (4m) by 12 foot (3.6m) horseshoe-shaped utility tunnel bored at depths of approximately 150 feet below ground surface in hard rock connecting the Bronx and Manhattan, east of the Brooklyn Bridge.</p>
    </div>
  </div>

</div>
</div>
 
  
  <div id="p4" class="box">
  <a class="typehead" name="shafts"><strong>Shafts</strong></a>
  <div class="row">

  <div class="column">
    <div class="div">
      <h5>East Side Access – CQ031 – Q – Tip Excavation – Yard Lead, New York, NY</h5>
      <p class="project">Engineering services on Yard Lead Approach structure.</p>
    </div>
  </div>

   <div class="column">
    <div class="div">
      <h5>Moshulu Croton Water Treatment Plant, New York, NY</h5>
      <p class="project">The project involved the construction of the underground water treatment plant within the Mosholu Golf Course in the Bronx, NY.  Treatment plant required deep and extensive excavations in rock.</p>
    </div>
  </div>

</div>
</div>

<div id="p5" class="box">
  <a class="typehead" name="hdd"><strong>HDD/Micro-Tunneling</strong></a>
  <div class="row">

  <div class="column">
    <div class="div">
      <h5>New 138 kV Feeders – Harlem River Crossing at Willis Avenue Bridge HDD/Micro-Tunneling, New York</h5>
      <p class="project">Four new 138 kV underground transmission circuits between the Mott Haven Substation in The Bronx and the Park View Substation in Manhattan, New York were installed.  This included crossings of the Harlem River, Harlem River Drive and a rail yard in soil and rock (2 crossings in soil 2 in rock about 1,000 ft each).</p>
    </div>
  </div>

</div>
</div>

 <div id="p6" class="box">
  <a class="typehead" name="dams"><strong>Dams</strong></a>
  <div class="row">

  <div class="column">
    <div class="div">
      <h5>Extension to Owen Falls Generating Station, Jinja, Uganda</h5>
       <a target="_blank" class="link" href="https://www.researchgate.net/profile/C_Richard_Donnelly/publication/261357614_CANADIAN_DAM_ASSOCIATION_ASSOCIATION_CANADIENNE_DES_BARRAGES_THE_DESIGN_AND_CONSTRUCTION_OF_THE_OWEN_FALLS_EMBANKMENTS/links/02e7e533ebc8e4667c000000/CANADIAN-DAM-ASSOCIATION-ASSOCIATION-CANADIENNE-DES-BARRAGES-THE-DESIGN-AND-CONSTRUCTION-OF-THE-OWEN-FALLS-EMBANKMENTS.pdf">View Website</a>
      <p class="project">Project comprised of extension of existing hydroelectric site at Owen Falls, on the River Nile; included new powerhouse with maximum installed capacity of 150 MW and a canal. Situated on amphibolite and saprolite foundation.</p>  
    </div>
  </div>

    <div class="column">
    <div class="div">
      <h5>Magpie River Development Project, Wawa, Ontario</h5>
      <p class="project">Project comprised of a 30-m (98 ft) high zoned earth-fill dam, zoned partial cutoff and zoned inverted filter and three 15 MW powerhouses located downstream along the river.</p>
    </div>
  </div>

</div>
</div>


</div>
<script>
        $('a').on('click', function(){
   var target = $(this).attr('rel');
   $("#"+target).show().siblings("div").hide();
});

        $(document).ready(function () {
              $("#p1").show();
        });
</script>          
 
</body>
</html>