<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("partials/header"); -%>

<link rel="stylesheet" type="text/css" href="CSS/publications.css">

<div class="heading"><h4 class="title"> Publications </h4></div>

<div class="list-group">
  <a href="http://www.wtc2018.ae/download/poster/DXB-POSTER-711-Jacek%20Jakubowski.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Empirical correlations within TBM operation data</h5>
      <small>21-26 April, 2018, Dubai, pp. 3213-3228</small>
    </div>
    <p class="mb-1">A case study in ITA-AITES World Tunnel Congress.</p>
    <small>F.G. Bernardeau, J.B. Stypulkowski, J. Jakubowski</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">North American Tunneling Conference</h5>
      <small class="text-muted">June 24-27, 2018, Washington, D.C. pp 227-235</small>
    </div>
    <p class="mb-1">Innovative Concrete for Aggressive Ground in Qatar, in The North American Tunneling Conference </p>
    <small class="text-muted">F.G. Bernardeau, J.B. Stypulkowski</small>
  </a>

  <a href="https://doi.org/10.1007/s12517-018-3537-z" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Abu Hamour Tunnel</h5>
      <small class="text-muted">(2018) 11: 191. </small>
    </div>
    <p class="mb-1">Descriptive statistical analysis of TBM performance at Abu Hamour Tunnel Phase I in J. Arab J Geosci</p>
    <small class="text-muted">Stypulkowski, J.B., Bernardeau, F.G. & Jakubowski</small>
  </a>

  <a href="https://content.sciendo.com/abstract/journals/amsc/62/4/article-p825.xml" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Abu Hamour Phase-I tunnel</h5>
      <small class="text-muted">62(4), 825-841</small>
    </div>
    <p class="mb-1">FG (2017) Multivariate linear regression and CART regression analysis of TBM Performance at Abu Hamour Phase-I tunnel. Arch. Min. Sci. </p>
    <small class="text-muted">Jakubowski J, Stypulkowski JB, Bernardeau </small>
  </a>

   <a href="https://www.taylorfrancis.com/books/e/9781351363099/chapters/10.1201%2F9780203712573-22" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Underground Infrastructure of Urban Areas 4 </h5>
      <small class="text-muted"> © 2018 Taylor & Francis Group, London, pp 211-222</small>
    </div>
    <p class="mb-1">FG (2017) Mechanized tunneling technologies for weak rocks of Middle East, revisited.” in UIAU2017 - Underground Infrastructure of Urban Areas 4 – Madryas et al. (Eds) </p>
    <small class="text-muted">Stypulkowski J.B., Bernardeau F.G., Sandell T.D</small>
  </a>

    <a href="https://link.springer.com/chapter/10.1007/978-3-319-61636-0_11" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">The Art of Tunneling in a New World</h5>
      <small class="text-muted">(2018) pp 141-152 </small>
    </div>
    <p class="mb-1">FG (2017) Abu Hamour Tunnel Phase I the First TBM Tunnel in Qatar: The Art of Tunneling in a New World. In: Agaiby S., Grasso P. (eds) Engineering Challenges for Sustainable Underground Use. GeoMEast 2017. Sustainable Civil Infrastructures. Springer, Cham.</p>
    <small class="text-muted">Stypulkowski J.B., Bernardeau F.G.</small>
  </a>

      <a href="https://link.springer.com/chapter/10.1007/978-3-319-61636-0_11 " class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Engineered and Safe Approach to Segment Lining </h5>
      <small class="text-muted">June 4-7, 2017, San Diego, CA, pp 694 – 411</small>
    </div>
    <p class="mb-1">Engineered and Safe Approach to Segment Lining Installation with Dowelled-In Connectors on the First TBM Tunnel in Qatar”, in RETC – Rapid Excavation & Tunneling Conference and Exhibit</p>
    <small class="text-muted">Bernardeau, F.G., Stypulkowski, J.B</small>
  </a>

      <a href="https://download.atlantis-press.com/article/25864852/pdf " class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Engineering geology for weak rocks</h5>
      <small class="text-muted">16 – 18 November 2016, RARE2016, pp 85-90</small>
    </div>
    <p class="mb-1">Engineering geology for weak rocks of Abu Hamour surface and ground water drainage tunnel Phase-1 Doha, Qatar”, International Conference on Recent Advances in Rock Engineering, Specialized Conference of ISRM in Bengaluru, India</p>
    <small class="text-muted">Stypulkowski, JB, Pathak, AK, Bernardeau FG</small>
  </a>

     <a href="http://35r8vq1qfmha1cecht1675qy.wpengine.netdna-cdn.com/wp-content/uploads/2014/08/10_Crossover-TBMs_ATC2015.pdf " class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">“Dual Mode, “Crossover” Type Tunnel Boring Machines</h5>
      <small class="text-muted">23-25th November 2015, Dubai, UAE</small>
    </div>
    <p class="mb-1">“Dual Mode, “Crossover” Type Tunnel Boring Machines: A Unique Solution for Mixed Ground in the Middle East”, in ATC2015 Arabian Tunneling Conference and Exhibition</p>
    <small class="text-muted">Sandell, T.D., Stypulkowski, J.B </small>
  </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Supervision of Engineering Geological Activities</h5>
      <small class="text-muted">Special Publication, J of EG October 2015, pp 467-486 </small>
    </div>
    <p class="mb-1">Supervision of Engineering Geological Activities during Construction of Abu Hamour Surface and Ground Water Drainage Tunnel Phase-1 Doha, Qatar”, in International Conference on Engineering Geology in New Millennium at IIT, New Delhi 27-29 Oct 2015. </p>
    <small class="text-muted">Pathak, A.K., Stypulkowski, J.B, Bernardeau, F.G</small>
  </a>

       <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Abu Hamour Outfall Tunnel Project</h5>
      <small class="text-muted">June 7 – 10, 2015, New Orleans, LA, pp 401 – 411</small>
    </div>
    <p class="mb-1">Abu Hamour Outfall Tunnel Project In Doha, Qatar”, in RETC – Rapid Excavation & Tunneling Conference and Exhibit.</p>
    <small class="text-muted">Jafari, M.R., Bernardeau, F.G., Stypulkowski, J.B., Siyam</small>
  </a>

       <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Improvement to Longevity of Tunnels in Aggressive Ground Conditions</h5>
      <small class="text-muted">9-10th December 2014, Abu Dhabi, UAE, pp 163-185</small>
    </div>
    <p class="mb-1">Improvement to Longevity of Tunnels in Aggressive Ground Conditions in the Middle East”, in ATC2014 Arabian Tunneling Conference and Exhibition, 9-10th December 2014, Abu Dhabi, UAE.</p>
    <small class="text-muted">Siyam, A.F.M., Stypulkowski, J.B., Bernardeau, F.G.</small>
  </a>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Mechanized tunneling technologies for weak rocks</h5>
      <small class="text-muted">9-10th December 2014, Abu Dhabi, UAE, pp 187-199</small>
    </div>
    <p class="mb-1">Mechanized tunneling technologies for weak rocks of Middle East/Persian Gulf”, in ATC2014 Arabian Tunneling Conference and Exhibition, 9-10th December 2014, Abu Dhabi, UAE.</p>
    <small class="text-muted">Stypulkowski, J.B., Bernardeau, F.G., Sandell, T.D</small>
  </a>


        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Abu Hamour: TBM Launch Shaft</h5>
      <small class="text-muted">May 27 – 29, 2014, Vigo, Spain, CRC Press, Taylor & Francis Group, pp 117</small>
    </div>
    <p class="mb-1">Abu Hamour, TBM Launch Shaft – A Rock Mass Classification Attempt for a Deep Shaft in Doha, Qatar.” in EUROCK14, ISRM International Symposium.</p>
    <small class="text-muted">Stypulkowski, JB, Pathak, A.K. Bernardeau, F.G. </small>
  </a>

     <a href="https://www.onepetro.org/conference-paper/ISRM-EUROCK-2014-047?sort=&start=0&q=EUROCK+2013+stypulkowski&from_year=&peer_reviewed=&published_between=&fromSearchResults=true&to_year=&rows=10# " class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Abu Hamour: TBM Launch Shaft</h5>
      <small class="text-muted">May 27 – 29, 2014, Vigo, Spain, CRC Press, Taylor & Francis Group, pp 117</small>
    </div>
    <p class="mb-1">Abu Hamour, TBM Launch Shaft – A Rock Mass Classification Attempt for a Deep Shaft in Doha, Qatar.” in EUROCK14, ISRM International Symposium.</p>
    <small class="text-muted">Stypulkowski, JB, Pathak, A.K. Bernardeau, F.G. </small>
  </a>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Abu Hamour Drainage Tunnel</h5>
      <small class="text-muted">10-11 December 2013, pp. 300-314.</small>
    </div>
    <p class="mb-1">Abu Hamour Drainage Tunnel, First TBM Mined Tunnel in Doha, Qatar”. The First Arabian Tunneling Conference & Exhibition, Dubai, United Arab Emirates.</p>
    <small class="text-muted">Stypulkowski, J. B., Siyam, A. A. F. M., Bernardeau, F. G. and Al Kuwari, N. G.</small>
  </a>

       <a href="https://www.onepetro.org/conference-paper/ISRM-EUROCK-2013-127?sort=&start=0&q=EUROCK+2013+stypulkowski&from_year=&peer_reviewed=&published_between=&fromSearchResults=true&to_year=&rows=10# " class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Rock ledge support design</h5>
      <small class="text-muted">September 23 – 26, 2013, pp 813 – 818</small>
    </div>
    <p class="mb-1">Rock ledge support design. A deterministic and stochastic approach.” in EUROCK13, ISRM International Symposium, September 23 – 26, 2013, Wroclaw, Poland, CRC Press, Taylor & Francis Group.</p>
    <small class="text-muted">Jakubowski J, Stypulkowski J.B.</small>
  </a>

       <a href="https://www.crcpress.com/Underground-Infrastructure-of-Urban-Areas-2/Madryas-Nienartowicz-Szot/p/book/9780415683944 " class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Top of rock investigations for secant piles </h5>
      <small class="text-muted">pp 55 – 66</small>
    </div>
    <p class="mb-1">Top of rock investigations for secant piles at the Bronx shaft” in Underground Infrastructure of Urban Areas 2, Wrocław, Poland, 26-27 / 10 / 2011, – Edited by C. Madryas, B. Nienartowicz, A. Szot, Wrocław University of Technology, CRC Press, Taylor & Francis Group.</p>
    <small class="text-muted">Jakubowski J, Stypulkowski J</small>
  </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Drill and blast tunnel in Inwood Marble</h5>
      <small class="text-muted">June 15 – 18, 2010, pp 479 – 482</small>
    </div>
    <p class="mb-1">Drill and blast tunnel in Inwood Marble under Harlem River in New York City” in EUROCK10, ISRM European Rock Mechanics Symposium, June 15 – 18, 2010, EPFL-ENAC-LMR, Lausanne, Switzerland.</p>
    <small class="text-muted">Stypulkowski J, Villani L.N., Forsyth G.F., Lacy H</small>
  </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Tunneling under Harlem River</h5>
      <small class="text-muted">June 14 – 17 2009, pp 48 57</small>
    </div>
    <p class="mb-1">“Tunneling under Harlem River” in RETC – Rapid Excavation & Tunneling Conference and Exhibit, June 14 – 17, 2009, Las Vegas, NV.</p>
    <small class="text-muted">Stypulkowski J, Mooney J, Lacy H</small>
  </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Two HDD crossings of the Harlem River </h5>
      <small class="text-muted">22-24 / 10 / 2008, pp 213 – 223 </small>
    </div>
    <p class="mb-1">“Two HDD crossings of the Harlem River in New York City” in Underground Infrastructure of Urban Areas Wrocław, Poland, 22-24 / 10 / 2008 – Edited by C. Madryas, B. Przybyla, A. Szot, Wrocław University of Technology, CRC Press, Taylor & Francis Group.</p>
    <small class="text-muted">Mooney J, Stypulkowski J</small>
  </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Stability analysis of blocky rockmass</h5>
      <small class="text-muted">Year 31 (2007), Number 3, pp 199 – 207</small>
    </div>
    <p class="mb-1">"Stability analysis of blocky rockmass for the subway tunnel in New York City", (in Polish), Kwartalnik Górnictwo i Geoinżynieria.</p>
    <small class="text-muted">Jakubowski Jacek, Stypulkowski Jacek</small>
  </a>

     <a href="https://ascelibrary.org/doi/book/10.1061/9780784408032 " class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">A statistical simulation of 3D blocky structure</h5>
      <small class="text-muted">Atlanta GA, 2006</small>
    </div>
    <p class="mb-1">“A statistical simulation of 3D blocky structure for optimal tunnel design”, Proceedings of the Geo Congress 2006, Geotechnical Engineering in the Information Age, Edited by D.J. DeGroot, J.T. DeJong, J.D. Frost, L.G. Baise.</p>
    <small class="text-muted">Jacek Jakubowski, Jacek Stypulkowski</small>
  </a>

     <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Development of Q for an Underground Project</h5>
      <small class="text-muted">pp 434 – 434, 22 – 27 May 2004</small>
    </div>
    <p class="mb-1">“Development of Q for an Underground Project, Probabilistic Approach”, Underground space for sustainable urban development.  Proceedings of the 30th ITA-AITES World Tunnel Congress – Edited by J.N. Shirlaw, J. Zhao and R. Krishnan, Vol 19 / 4-5 pp 434 – 434, 22 – 27 May 2004, Singapore, Tunneling and Underground Space Technology incorporating Trenchless Technology Research, Elsvier.</p>
    <small class="text-muted">J. Stypulkowski</small>
  </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">El efecto de las discontinuidades</h5>
      <small class="text-muted">Madrid, 2004</small>
    </div>
    <p class="mb-1">“El efecto de las discontinuidades geologicas sobre el comportamiento de la roca en túneles, a chapter in IngeoTuneles, Libro 7, editor Carloz Lopez Jimeno”, UD Proyectors, ETSI Minas, U.P.M.</p>
    <small class="text-muted">Jacek Jakubowski, Jacek Stypulkowski</small>
  </a>

       <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Handling of Geotechnical Information for an Underground Project</h5>
      <small class="text-muted">April 12 – 17, 2003, pp 505 – 511</small>
    </div>
    <p class="mb-1">“Handling of Geotechnical Information for an Underground Project”, ITA World Tunneling Congress 2003, Amsterdam, The Netherlands.</p>
    <small class="text-muted">J. Stypulkowski</small>
  </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Criteria of evaluation ground movement</h5>
      <small class="text-muted">2 / 2002, pp 34 – 39</small>
    </div>
    <p class="mb-1">“Criteria of evaluation ground movement related damage to buildings”, (in Polish), NTTB, 2 / 2002.</p>
    <small class="text-muted">C. Madryas, J. Stypulkowski</small>
  </a>


      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">The Effect of Natural Geologic Discontinuities</h5>
      <small class="text-muted">July 7 – 10, 2002, Vol. 2, pp 1755 – 1761</small>
    </div>
    <p class="mb-1">“The Effect of Natural Geologic Discontinuities on Behavior of Rock in Tunnels, revisited.”  NARMS-TAC 2002 Conference, Toronto, Canada.</p>
    <small class="text-muted">J. Jakubowski, J. Stypulkowski</small>
  </a>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Development of GSI index for an Underground Project</h5>
      <small class="text-muted">March 2 – 7 2002, PO.41</small>
    </div>
    <p class="mb-1">“Development of GSI index for an Underground Project”, AITES-ITA DOWNUNDER 2002, March 2 – 7, 2002, Sydney, Australia, PO.41.</p>
    <small class="text-muted">J. Stypulkowski</small>
  </a>

       <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Methods of evaluation and prediction of ground behavior</h5>
      <small class="text-muted">1 / 2001, pp 22 – 29</small>
    </div>
    <p class="mb-1">“Methods of evaluation and prediction of ground behavior in proximity of tunnels”, (in Polish), NTTB, 1 / 2001.</p>
    <small class="text-muted">S. Boone, J. Stypulkowski</small>
  </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Financing of urban infrastructure tunnels in USA</h5>
      <small class="text-muted">September 17 – 22, 2000, Vol. 4, pp 135 – 140</small>
    </div>
    <p class="mb-1">“Financing of urban infrastructure tunnels in USA based on State of Ohio.”  (in Polish) XLVI Conference of Committee of Civil and Marine Engineering Polish Academy of Science and Committee of Science of Polish Association of Civil Engineers and Technologists PZITB, Krynica’ 2000.</p>
    <small class="text-muted">J. Stypulkowski</small>
  </a>

     <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Analysis of the program implementation and management plan for urban underground structures</h5>
      <small class="text-muted">1999, Wroclaw University of Technology, Poland</small>
    </div>
    <p class="mb-1">“Analysis of the program implementation and management plan for urban underground structures in North America” (in Polish) D.Sc. Dissertation, 1999, Wroclaw University of Technology, Poland.</p>
    <small class="text-muted">J. Stypulkowski</small>
  </a>

   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Geotechnical Construction Methods for Keele North Station</h5>
      <small class="text-muted">October 1996</small>
    </div>
    <p class="mb-1">"Geotechnical Construction Methods for Keele North Station", 14th Canadian Tunneling Association Conference, October 1996, Toronto, ON, Canada.</p>
    <small class="text-muted">R. Ng, J. Stypulkowski</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Trenchless methods for rehabilitation of conduits of network infrastructure</h5>
      <small class="text-muted">November 1996</small>
    </div>
    <p class="mb-1">"Trenchless methods for rehabilitation of conduits of network infrastructure used in Canada", (in Polish) VI Conference on Underground Infrastructure of Cities, November 1996, Wroclaw University of Technology, Wroclaw, Poland.</p>
    <small class="text-muted">J. Stypulkowski</small>
  </a>


  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Stress rate sensitivity of the Ottawa sand</h5>
      <small class="text-muted">1988, McMaster University, Hamilton ON</small>
    </div>
    <p class="mb-1">"Stress rate sensitivity of the Ottawa sand", MEng Thesis, 1988, McMaster University, Hamilton, ON</p>
  </a>

   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Research problems in the design of structures</h5>
      <small class="text-muted">Feb. 1985</small>
    </div>
    <p class="mb-1">"Research problems in the design of structures subjected to mining induced quasi-seismic disturbances", (in Polish), Second Winter Conference of Rock Mechanics, Feb. 1985, Wroclaw University of Technology, Poland.</p>
    <small class="text-muted">K. Biernatowski, J. Stypulkowski</small>
  </a>

   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Approximate analysis of multistory structures</h5>
      <small class="text-muted">MSc Thesis, 1983, Wroclaw University of Technology, Poland.</small>
    </div>
    <p class="mb-1">"Approximate analysis of multistory structures", (in Polish), MSc Thesis, 1983, Wroclaw University of Technology, Poland.</p>
  </a>

</div>

<%- include("partials/footer"); -%>