.heading {
	margin-top: 6px;
    margin-bottom: 10px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

h4.title {
	padding: 0px 20px 20px 0px;
	padding-top: 10px;
    font-size: 120%;
}

div.rightdiv {
background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);;
position: absolute;
right:0;
max-width: 300px;
padding: 10px 10px 10px 10px;
border-width: 5px;
margin-top: 10px;
}

div.rightTitle {
margin:0px 0px 0px 0px;
padding: 5px 5px 5px 5px;
background-color: white;
}

h5.rightHeading {
	text-align: center;
	color: black;
}

div.box {
	background-color: white;
	margin-top: 15px;
	padding: 10px 10px 10px 10px;
}

div.title {
	text-align: center;
}

.content {
clear:both;
height: auto;
}

div.leftdiv {
	max-width: 900px;
	margin-right: 20px;
}

.row{
	margin-left: 70px;
	margin-top: 3%;
}

.post-img{
     width: 30%;
     height: 215px;
	 float: left;
     padding: 0 20px 20px 0;
}

p.date{
	font-size: 12px;
}