body {
background-color: #f8f9fa;
}
.carousel-inner {
max-height: 100%;
width: 100%;
}
.carousel-img {
max-height: 100%;
width: 100%;
}
.listHead {
padding: 3%;
}
.listStyle {
columns: 2;
-webkit-columns: 2;
-moz-columns: 2;
}